*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "poppins";
    
}

body{
    background-color: #35a7ff;
}

.gridContainer{
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100vh;
    grid-template-rows: 0.5fr 0.5fr 5fr;
}


.grid{
    background-color: aquamarine;
}

.sidebarContainer{
    grid-row:1 / 4 ;
    line-height: 40px;
    background-color: #35a7ff;
}

.sidebarContainer ul{
    width: 100%;
    background-color: rgba(0, 0, 255, 0.089);
}

.sidebarContainer li{
    display: flex;
    border: 0.1px solid rgba(255, 255, 255, 0.200);
    margin: 5px;
}

.sidebarContainer li:hover{
    scale: 1.02;
}

.sidebarContainer i{
    font-size: 30px;
    padding: 10px;
    color: rgb(4, 3, 77);
}

.sidebarContainer li i{
    font-size: 20px;
    padding: 10px;
    color: white;
}

.sidebarContainer p{
    font-size: 16px;
    color: white;
}

.sidebarSection1{
    display: flex;
    margin: 10px 0 0 0;
    line-height: 50px;
}

.sidebarSection2{
    display: flex;
    margin: 20px 0 0 0;
    padding: 10px;
    gap: 10px;
}

.sidebarSection3{
    display: flex;
    margin: 20px 0 0 0;
    padding: 10px;
    
}

.navContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #38618c; */
    /* background-color: #35a7ff; */
    background-color: rgba(0, 0, 255, 0.089);
}

.navSection1{
    margin-right: auto;
    margin-left: 20px;
    padding: 10px;
}
.navSection1 i{
    position: relative;
    font-size: 24px;
    top: 7px;
    color: white;
}

.navSection1 input{
    height: 30px;
    width: 30rem;
    outline: none;
    border: none;
    border-bottom: 1.5px solid white;
    background-color: transparent;
    color: white;
    margin-left: 15px;
    
}

.navSection1 input::-webkit-input-placeholder{
    color: white;
}


.navSection2{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 25%;
}

.navSection2 i{
    font-size: 24px;
    top: 7px;
    color: white;
}

.navSection2 .profilePicture{
    background-image: url("profilePic.jpg");
    background-size: cover;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    border: 2px solid white; 
}

.navSection2 p{
    font-size: 16px;
    color: white;
    font-weight: 500;
}

.headerContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    background-color: white;
    color: #38618c;
}

.headerSection1{
    display: flex;
}

.headerSection1 .headerPfp{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-image: url("profilePic.jpg");
    background-size: cover;
    border: 2px solid #35a7ff;
}

.headerSection1 .headerMsg{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.headerSection1 .hi{
    font-size: 12px;
    font-weight: 300;
}

.headerSection1 .headerUname{
    font-size: 18px;
    font-weight: 500;
}

.headerSection2 button{
    width: 150px;
    height: 45px;
    border-radius: 30px;
    border: none;
    background-color: #35a7ff;
    margin-right: 20px;
    font-size: 16px;
    color: white;
    font-weight: 600;
}

.headerSection2 button:hover{
    scale: 1.05;
}

.mainContainer{
    background-color: rgb(228, 228, 228);
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 0.75fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
}

.mainConGrid{
    border-radius: 20px;
    overflow: hidden;
    background-color: white;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2), 0 0 10px rgba(0, 0, 0, 0.2); ;
    color: black;
    display: grid;
    grid-template-columns: 1fr 20fr;
    grid-template-rows: 1fr;
}

.strip{
    background-color: #35a7ff;
    height: 100%;
    width: 10px;
    border: none;   
}

.mainConGrid h1{
    font-size: 18px;
}

.mainConGrid p{
    font-size: 14px;
}

.cardContent{
    padding: 10px;
}

.mainGrid3{
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-row-end: 4;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 40px;
    align-content: space-between;
    border: none;
    border-radius: 0;
    box-shadow: none;
    background-color: transparent;
}

.mainConGrid:hover{
    scale: 1.01;
}

.mainGrid3:hover{
    scale: 1;
}


.announcement{
    grid-row-start: 1;
    grid-row-end: 2.5;
    margin-top: 30px;
    display: grid;
    grid-template-rows: 0fr 1fr 1fr 1fr;
    border: none;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    
}

.announcement:before{
    font-weight: 700;
    content: "Announcements";
    position:relative;
    margin-top: -40px;
}

.trending{
    display: grid;
    grid-template-rows: 0fr 1fr 1fr 1fr 1fr;
    border: none;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    
}

.trendingChild{
    border-bottom: 1px solid #35a7ff;
    /* background-color: #35a7ff; */
}

.trending:before{
    font-weight: 700;
    content: "Trending";
    position: relative;
    margin-top: -40px;
}

.announcementChild{
    border-bottom: 1px solid #35a7ff;
    padding-top: 10px;
}

.announcementChild:hover{
    scale: 1.01;
}

.announcementChild h1{
    font-size: 10px;
}

.announcementChild p{
    font-size: 8px;
}